.home-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-title {
    max-width: 80%;
    color: var(--shade2);
    background-color: var(--alt-trans-shade4);
    font-family: var(--rubik);
    font-size: 500%;
    font-weight: 900;
}
