.homepage-img {
    max-width: 100vw;
}
.homepage-main {
    background-color: var(--trans-shade4);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .homepage-img {
        min-height: 60vh;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

@media screen and (max-width: 500px) {
    .homepage-img {
        min-height: 40vh;
    }
}