/* Navbar component is included in App.js, therefore, we have access to the style.css variables */

.custom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-bg {
    display: flex;
    background-color: var(--trans-shade4);
}

.nav-font {
    text-decoration: none;
    font-family: var(--rubik);
    color: var(--light-pink);
    font-size: 150%;
}

.nav-font:hover {
    color: var(--light-pink);
    cursor: pointer;
}

.nav-img {
    max-width: 25%;
}