:root {
    /* color scheme: */
    --light-blue: #C9EAFF;
    --light-pink: #FFE3E3;
    --matte-blue: #7B9DB3;

    /* shades of --light-blue (darker with increasing number): */
    --shade1: #B5D3E6;
    --shade2: #97B0BF;
    --shade3: #657580;
    --shade4: #323B40;

    /* transparent alternatives to existing color scheme: */
    --trans-shade2: rgba(151, 176, 191, .85);

    /* Google fonts: */
    --rubik: 'Rubik', sans-serif;
    --dirt: 'Rubik Dirt', cursive;
    --distressed: 'Rubik Distressed', cursive;
}

body {
    /* set background image for entire body */
    /* This picture was taken on a family trip in TN! */
    background-image: url("../img/wooden-balcony.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    /* fixed background for continuity */
    background-attachment: fixed;
}