.socials-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.social-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    flex: 1;
}

.social-container {
    /* background-color: white; */
    padding: 1%;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.social-icon{
    font-size: 300%;
color: var(--light-blue);
}

.social-container a {
    text-decoration: none;
    color: var(--light-pink);
}

.social-container a:hover {
color: var(--light-blue);
}

.frame-dimensions {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}

.social-img {
    width: 100%;
}